{% extends "layout.html" %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="text-center">
        <h1 class="display-4 mb-3">Know Your Fan</h1>
        <h3 class="mb-4">Tenha a maior conexão conosco</h3>
        <div class="d-flex justify-content-center">
            <a href="/cadastro" class="btn btn-primary btn-lg mx-2">Cadastre-se</a>
            <a href="/entrar" class="btn btn-secondary btn-lg mx-2">Entrar</a>
        </div>
    </div>
</div>
{% endblock %}