{% extends "layout.html" %}

{% block body %}
<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row w-100">
        <div class="col-md-6 col-lg-4 mx-auto">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="text-center mb-4">Entrar</h2>

                    <!-- Display error message if it exists -->
                    {% if message %}
                        <div class="alert alert-danger mt-3">
                            <p class="mb-0">{{ message }}</p>
                        </div>
                    {% endif %}

                    <form action="/entrar" method="post">
                        <div class="form-group mb-4">
                            <label for="login">E-mail ou CPF</label>
                            <input id="login" name="login" class="form-control" placeholder="Nome de usuário, e-mail ou CPF" required type="text">
                        </div>
                        
                        <div class="form-group mb-4">
                            <label for="password">Senha</label>
                            <input id="password" name="password" class="form-control" placeholder="Senha" required type="password">
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <a href="/cadastro" class="btn btn-link">Cadastrar</a>
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}